

    <section class="pt-0 mb-5">
      <div class="container">
        <div class="d-flex justify-content-center h-100"> 
          <div class="col-12">
              <div class="card-body py-2">
                <div class="introduction">
               <h3 class="aim">Our aim is to delve deeper into the understanding of the molecular and cellular
                mechanisms contributing to brain conditions, with the final goal of identifying new
                pharmacological targets to treat them.
               </h3>
              </div>
              <div class="my-5 align-items-center d-flex flex-column">
                <img class="membrane" src="/assets/img1Home.png" alt="membrane">
                  <div class="textoPie mt-3">Fig. 1. Membrane protein undergoing ectodomain shedding</div>
               </div>
              <div class="d-flex flex-row">
                <div class="col-12 pe-2">
                <p> Our research focuses on understanding how the process of ectodomain shedding
                  regulates neuronal (dys)function. <i>Ectodomain shedding</i> consists of a protease cleaving
                  the extracellular domain of proteins attached to the cell membrane, resulting in the
                  release of a soluble extracellular fragment (Fig. 1).</p>
                  <p>The cleaved ectodomains possess biological activity, acting as signaling molecules 
                    to regulate the function of nearby and distant neurons. Thus, it is not surprising that dysregulation 
                    of ectodomain shedding has been linked to several human disorders. In the Sheddome & Disease Lab, we 
                    aim to <i>understand how ectodomain shedding contributes to autism, schizophrenia, and epilepsy.</i> To achieve 
                    our goal, we employ both <i>in vitro</i> and <i>in vivo</i> models to dissect cellular and molecular changes regulated by
                     ectodomain shedding. We use a wide array of techniques including advanced biochemistry, molecular biology 
                     and imaging techniques, together with proteomics and bioinformatics. Our overarching goal is to understand 
                     the contribution of ectodomain shedding to health and disease with the ultimate goal of improving the quality 
                     of life for individuals with neuropsiquiatric conditions.</p>
                </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </section>
