
#content {
    
    padding: 20px;
    min-height: 80vh;
    transition: all 0.3s;
    background: none !important;
    padding: 0% 10%;
}
mat-sidenav {
    width: 18%;
    background: none !important;
    padding-left: -10%;
}
mat-list-item a {
    text-decoration: none;
    color: #000;
}
app-footer {
    position: fixed;
    min-height: 10vh;
    width: 100%;
}
.card-img-block > img{
    width: 60% !important;
    margin: 0 auto;
    display: block;
    //border-radius: 10px;
}

.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}

.textoPie{
    font: 300 18px/20px 'Libre Baskerville', "Helvetica Neue", sans-serif;
    text-align: center;
}

.img-header{
    border-bottom: 1px solid #1F6CAB;
    padding-bottom: 1rem;
}
h3 {
    font: 100 40px/10px "Libre Baskerville", "Helvetica Neue", sans-serif !important;
    color: #DFD0C0 ;
    text-align: start;
    margin-bottom: 20px;
    line-height: 50px !important;
    
  }


