<section class="pt-0 mb-5">
        <div class="container">
            <div class="d-flex justify-content-center h-100"> 
                <div class="col-12">
                        <div class="card-body py-2">
                            <div class="align-text-center d-flex justify-content-center introduction">
                         <h3 >Opportunities
                         </h3>
                        </div>
                        <div class="my-5 align-items-center d-flex flex-column">
                            <img class="membrane" src="/assets/Sara-y-Bea-en-CAmpana-_1_.jpg" alt="membrane">
                         </div>
                        <div class="d-flex flex-row">
                            <div class="col-12 pe-2">

                                <p>Are you looking for a lab to immerse yourself in the fascinating world of neuroscience? Joining our lab opens the door to a unique opportunity where you can actively contribute to groundbreaking projects dedicated to unraveling the mysteries of the brain. Imagine working side by side with a team of dedicated researchers, where your insights, contributions, and well-being are valued.</p>
                        
                                <p><a routerLink="/contact">Contact us today!</a></p>
                        
                            </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </section>
