ul {
    list-style-type: none;
    }
    .text.dark{
        --bs-text-opacity: 1;
        color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    }
    .fa-2xl {
        font-size: 3em;
    }
    .btn {
        background:none
    }
    .cursor{
        cursor: pointer;
    }
    .carousel-control-next:focus, .carousel-control-next:hover, .carousel-control-prev:focus, .carousel-control-prev:hover {
        color: #161616;
        text-decoration: none;
        outline: 0;
        opacity: .5;
    }
    .cursor:hover, .cursor:focus, .cursor:active{
        opacity: .9;
    }
    .selected{
       color: #161616;
    }
    .notSelected{
        color: #161616;
        opacity: 0.5;
    }