
<div class=" align-text-center d-flex justify-content-center introduction">
  <h3 >Publications
  </h3>
 </div>
  <div id="carouselExampleIndicators" class="carousel slide h-75" data-ride="carousel">
    <div class="carousel-indicators bottom">
      <button class="btn p-0" *ngFor="let year of years; let i = index" [ngClass]="step == i ? 'selected' : 'notSelected'" (click)="goToYear(year)" matTooltip="{{year}}">
        <i class="fa-sharp fa-solid fa-minus fa-2x"></i>
      </button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <app-publication-year [publicationYear]="getPublicationsByYear(years[step])"></app-publication-year>
      </div>
    </div>
    <a class="carousel-control-prev prev" data-slide="prev">
      <span class="carousel-control-prev-icon cursor" aria-hidden="true" (click)="atras()"></span>
      <span class="sr-only" (click)="atras()">Previous</span>
    </a>
    <a class="carousel-control-next next" data-slide="next">
      <span class="carousel-control-next-icon cursor" aria-hidden="true" (click)="adelante()"></span>
      <span class="sr-only" (click)="adelante()">Next</span>
    </a>
  </div>