<nav class="navbar navbar-expand-lg navbar-dark p-3" id="headerNav">
    <div class="container-fluid">  
      <div class=" collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mx-auto ">
          <li class="nav-item ">
            <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="home" routerLinkActive="active-link">
                <span class="">Home</span>
              </a>
          </li>
          <li class="nav-item ">
            <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/labMembers" routerLinkActive="active-link">
                <span class="">Lab Members</span>
              </a>
          </li>
          <li class="nav-item ">
            <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/research" routerLinkActive="active-link">
                <span class="">Research</span>
              </a>
          </li>
          <li class="nav-item ">
            <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/news" routerLinkActive="active-link">
                <span class="">News</span>
              </a>
          </li>
          <li class="nav-item ">
          <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/publications" routerLinkActive="active-link">
            <span class="">Publications</span>
          </a>
        </li>
          <li class="nav-item ">
          <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/opportunities" routerLinkActive="active-link">
            <span class="">Opportunities</span>
          </a>
        </li>
          <li class="nav-item ">
          <a mat-list-item class="list-group-item width list-group-item-nav " routerLink="/contact" routerLinkActive="active-link">
            <span class="">Contact</span>
          </a>
        </li>
        </ul>
      </div>
    </div>
  </nav>
