<nav class=" p-3 m-2" id="headerNav">
    <div class="">  
      <div class="" id="navbarNavDropdown">
        <div class="d-flex justify-content-around">
          <div class="nav-item width-item">
            <a mat-list-item class="list-group-item width list-group-item-nav col-sm-1" routerLink="/home" routerLinkActive="active-link">
                <span class="">Home</span>
              </a>
          </div>
          <div class="nav-item width-item">
            <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/labMembers" routerLinkActive="active-link">
                <span class="">Lab Members</span>
              </a>
          </div>
          <div class="nav-item width-item">
            <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/research" routerLinkActive="active-link">
                <span class="">Research</span>
              </a>
          </div>
          <div class="nav-item width-item">
            <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/news" routerLinkActive="active-link">
                <span class="">News</span>
              </a>
          </div>
          <div class="nav-item width-item">
          <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/publications" routerLinkActive="active-link">
            <span class="">Publications</span>
          </a>
        </div>
          <div class="nav-item width-item">
          <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/opportunities" routerLinkActive="active-link">
            <span class="">Opportunities</span>
          </a>
        </div>
          <div class="nav-item width-item">
          <a mat-list-item class="list-group-item width list-group-item-nav" routerLink="/contact" routerLinkActive="active-link">
            <span class="">Contact</span>
          </a>
        </div>
        </div>
      </div>
    </div>
  </nav>
