.active-link {
    border-bottom: #DFD0C0 3px solid;
  }

  .list-group-item-nav{
    font: 400 32px/20px 'Libre Baskerville', "Helvetica Neue", sans-serif;
    color: #DFD0C0 !important;
    white-space: nowrap;
    line-height: 2 !important;
    width: 100%;
  }
  nav{
    margin-bottom: 3em;
  }

  width-item{
    width: max-content;
    margin: auto;
  }