
  .list-group-item-nav{
    font: 400 32px/20px 'Libre Baskerville', "Helvetica Neue", sans-serif;
    color: #DFD0C0 !important;
    white-space: nowrap;
    line-height: 2 !important;
    width: 100%;
  }
  nav{
    margin-bottom: 3em;
  }

  width-item{
    width: max-content;
    margin: auto;
  }
  .list-group-item-nav {
    border-bottom: 3px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
  }
  
  .active-link {
    border-bottom: 3px solid #DFD0C0;
  }
  .list-group-item-nav:hover {
    border-bottom: 3px solid #DFD0C0;
  }