#header{
    min-height: 15vh;
}
#mat-toolbar{
    min-height: 10vh;
    background:none !important;
    padding-top: 3em;
}

#mat-toolbar > button{
    background: none !important;
    border-style: none !important;
}
h1 {
    margin: 0 auto;
    text-align: center;
    color: #DFD0C0 ;
}
mat-icon{
    color: #DFD0C0 ;
    font-size: 60px;
    height: 30px;
    width: 30px;
}
  .title{
    font-size: 40px;
    color: #DFD0C0 ;
    text-align: center;
  }
  .pointer{
    cursor: pointer;
  }
  .logoTitle{
    height: 16vh;
    max-width: 16vh;
  }
