<section class="pt-0">
    <div class="container">
      <div class="d-flex justify-content-center h-100"> 
        <div class="col-md-12 col-xs-12 col-xxl-10 col-sm-12 col-xxxl-8">
          <div class="card profile-card-5 h-100 d-flex flex-column">
            <div class="card-img-block justify-content-center d-flex">
              <img class="card-img-top" src={{labNew.urlImagen}} alt="{{labNew.title}}" height="300" width="210">
            </div>
            <div class="card-body pt-0">
              <h4 class="card-title mx-4">{{labNew.date}}</h4>
              <p class="card-title mx-4">{{labNew.title}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
