

<section class="pt-0 mb-5">
    <div class="container">
      <div class="d-flex justify-content-center h-100"> 
        <div class="col-12">
            <div class="card-body py-2">
              <div class="align-text-center d-flex justify-content-center introduction">
             <h3 >Research
             </h3>
            </div>
            <div class="my-5 align-items-center d-flex flex-column">
              <img class="" src="/assets/neuron.png" alt="membrane">
             </div>
            <div class="d-flex flex-row">
              <div class="col-12 pe-2">

                <p>Finding new mechanisms associated with brain conditions is vital for improving treatment strategies, finding new diagnostic tools, and ultimately enhancing the overall well-being of individuals affected by them.</p>
            
                <p>In the Sheddome and Disease Lab, we investigate the molecular and cellular mechanisms that are altered in neuropsychiatric conditions, with a particular emphasis on neurodevelopmental conditions such as autism, epilepsy, or schizophrenia. Our final goal is to find new biomarkers and therapies for such conditions.</p>
            
                <p>Current Research Objectives:</p>
            
                <ul>
                    <li><p>1.Investigating the role of ectodomain shedding in autism and other neuropsychiatric conditions.</p></li>
                    <li><p>2.Studying the neuronal functions of risk molecules for neuropsychiatric disorders, particularly those that are regulated by ectodomain shedding.</p></li>
                    <li><p>3.Understanding how protein regulation by ectodomain shedding impacts synapses and neuronal communication.</p></li>
                </ul>
              </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
