
<section class="pt-0 mb-5" >
  <div class="container" >
    <div class="d-flex justify-content-center h-100"> 
      <div class="col-md-12 col-xs-12 col-xxl-10 col-sm-12 col-xxxl-8">
        <div class="card profile-card-5 h-100 d-flex flex-column elevated">
          <div class="card-img-block justify-content-center d-flex">
            <img class="card-img-top" src={{member.urlImagen}} alt="Imagen de perfil de {{member.name}}" height="300" width="210">
          </div>
          <div class="card-body pt-0">
            <h3 class="card-title mx-4 nombre">{{member.name}}</h3>
            <h4 class="card-title mx-4 rol">{{member.role}}</h4>
            <div class="d-flex flex-wrap justify-content-center">
              <div class="mx-4 d-flex justify-content-start flex-column">
                <p *ngFor="let item of member.galones" class="list-group-item galon">{{item}}</p>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-2">
              <a *ngIf="member.urlLinkedin" class="mx-2" href={{member.urlLinkedin}} target="_blank">
                <i class="fa-brands fa-linkedin fa-2x"></i>
              </a>
              <a *ngIf="member.urlOrcid" class="mx-2" href={{member.urlOrcid}} target="_blank">
                <i class="fa-brands fa-orcid fa-2x"></i>
              </a>
              <a *ngIf="member.urlTwitter" class="mx-2" href={{member.urlTwitter}} target="_blank">
                <i class="fa-brands fa-square-twitter fa-2x"></i>
              </a>
              <div class="extra-info-sidebar mx-2" (click)="openModal()">
                <a class="fas fa-plus scale" ></a>
                <!-- Agrega tu contenido de información adicional aquí -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal" [class.show-modal]="modalOpen">
  <div class="modal-content">
    <!-- Botón de cierre -->
    <span class="close" (click)="closeModal()">&times;</span>
    <img class="modal-image mb-5" [src]="member.infoExtraImage" [alt]="'Imagen de perfil de ' + member.name" >
    <div [ngSwitch]="member.position">
    <div *ngSwitchCase="1" class="container">
      <p>Lola received her B.Sc. in Pharmacy from Universidad Complutense de Madrid
        (UCM, 2004), and later pursued a Master’s degree in Research and
        Development of New Drugs at Universidad de Navarra (2007). For her PhD, she
        joined the lab of Manuela G. López at Universidad Autónoma de Madrid
        (UAM), where she studied the role of the master antioxidant regulator NRF2 in
        major depression. Here, she also contributed to the repurposing of known
        drugs for neurodegenerative disorders such as Alzheimer’s disease.
        Additionally, she enjoyed two scientific stays at University College London (UK)
        and Universidad de Navarra.</p>
      <p>In 2012, she started her post-doctoral research in the <a href="https://sites.northwestern.edu/penzeslab/">lab of Dr. Peter Penzes</a> at
        Northwestern University (Chicago, USA). Her work primarily centered on
        studying the role of synaptic proteins in neuropsychiatric disorders, with a
        specific focus on the regulation of CNTNAP2 by ectodomain shedding. She
        explored how this regulatory mechanism impacts calcium dynamics and
        neuronal connectivity.</p>
        <p>In September 2020, she secured an Assistant Professor position at UCM and
          joined the <a href="https://sites.northwestern.edu/penzeslab/">Neurotransmission and Neurorreparation Group.</a> Briefly after, she
          was awarded with a grant from the Spanish Research Agency to establish her
          independent research program. This program aims to investigate whether
          ectodomain shedding regulates neurodevelopmental conditions such as
          autism, schizophrenia, and epilepsy.</p>
      
      <p>In addition to her research, she teaches Clinical Biochemistry, Biochemistry and
        Molecular Biology to Pharmacy and Biochemistry undergraduates at
        Universidad Complutense.</p>
      <p>In her free time, she loves travelling, running, and enjoying some quality time
        with her three kids and her partner.</p>
      <p>Learn more about her research:</p>
      <ul>
        <li><a href="https://scholar.google.com/citations?user=g8x4TCgAAAAJ&amp;hl=en&amp;oi=ao"><p>My Google Scholar</p></a></li>
        <li><a href="https://produccioncientifica.ucm.es/investigadores/143965/detalle"><p>UCM Scientific Production Portal</p></a></li>
      </ul>
    </div>
    <div *ngSwitchCase="2" class="container">
      <p>Miguel received his B. Sc. in Chemistry from Universidad Autónoma de Madrid and completed his Master’s in Biochemistry,  Molecular Biology and Biomedicine at Universidad Complutense. He first joined the lab for his Master’s project in 
        2022 and stayed to complete his Thesis. His thesis research investigates the different determinants of the molecular and functional composition of the brain sheddome. He is also interested in deepening into the understanding of how the 
        regulation of risk factors for neuropsychiatric disorders by ectodomain shedding impacts neuronal function. In his free time, he officiates soccer matches, making split-second decisions that can turn the tide of the game!</p>
    </div>
    <div *ngSwitchCase="3" class="container">
      <p>Silvia obtained her B. Sc. in Biochemistry from Universidad Autónoma de Madrid. She joined the Sheddome and Disease lab in September 2023 to do her research project as part of the Master’s in Neurosciences at Universidad Complutense. 
        Her research focuses on how neuronal activity and neuroplasticity shape ectodomain shedding. When she is not in the lab, she enjoys going to concerts, particularly if they are in Lanzarote, her island of origin.</p>
    </div>
    <div *ngSwitchCase="4" class="container">
      <p>Tamel received his B. Sc. in Psychology from Universidad de Barcelona. He obtained a M. Sc. in Neuroscience from Universidad Complutense. During his time in the lab, he set up a protocol for analyzing brain sheddomes using biochemistry,
         proteomics and bioinformatic tools. He also analyzed the brain sheddome under different conditions. He is currently working as an assistant researcher, studying the effect of high-fat diet on memory performance in mice. </p>
    </div>
    <div *ngSwitchCase="5" class="container">
      <p>Marta is a senior pursuing her B.Sc. in Biochemistry at Universidad Complutense. In the lab, she will employ chemogenetic tools to modulate ectodomain shedding of proteins on demand. When she is not at the university, she loves practicing sports, traveling, reading, and painting. </p>
    </div>
  </div>
</div>

